.main {
    background-color: rgba(40, 40, 40, 0.9);
    width: 100%;
    border-top: thin solid;
    border-bottom: thin solid;
    border-radius: 3rem;
    margin-top: 2rem;
}
  .head {
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
}
.table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 93%;
  }
  .tr {
    height: 3rem;
    border-top: solid thin;
  }
  .left {
    text-align: center;
    
  }
  .right {
    text-align: right;
  }