.text {
  text-align: center;
  margin-left: 0.5rem;
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.div {
  margin-top: 1.5rem;
  margin-left: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 1200px) {
  .div {
    flex-direction: column;
    margin-left: 0;
  }
  .back {
    margin-top: 0.5rem;
  }
}
